@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}
.nav__header{
    height: 35px;
    padding: 20px 0;
    border-bottom: 1px solid #e3e2e2;
}
.nav__logo{
    width: 50%;
    float: left;
}
.nav__menu{
    width: 50%;
    float: right;
}
nav ul{
    list-style: none;
    float: right;
}
nav ul li{
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
nav ul li a{
    font-size: .9rem;
    text-decoration: none;
    padding: 8px 20px;
    display: block;
    color: #3B506C;
    transition: all .3s ease-in;
}
nav ul li a:hover{
    color: #1f1f1f;
    transition: all .2s ease-out;
}
